---
import Layout from '../layouts/Layout.astro';
import { Text } from '../components/Text';
import { attributions } from '../utils/attributions';
---

<Layout
    title='Attributions'
    description='The technology and resources used to create the website excluding the sources cited in the bibliography.'
    keywords=''
    path='attributions'
>
    <Text type='section'>
        <Text type='p'>
            This site uses many technologies and resources to function. This is
            a list of them.
            <b class='uppercase'
                >The attributions are not counted in the word count.</b
            >
        </Text>
        <ul class='flex flex-col gap-2 pt-4'>
            {
                attributions.map((attribution) => {
                    return (
                        <li class='flex w-full'>
                            <a
                                href={attribution.url}
                                class='group w-full cursor-pointer rounded border-2 border-gray-200 bg-gray-100 p-3 pr-4 pl-4 dark:border-gray-700 dark:bg-gray-800'
                            >
                                <h5 class=' font-bold transition-all group-hover:text-accent-500 dark:group-hover:text-accent-400'>
                                    {attribution.name}
                                </h5>
                                <p class='text-gray-500 dark:text-gray-400'>
                                    License: {attribution.license}
                                </p>
                            </a>
                        </li>
                    );
                })
            }
        </ul>
    </Text>
</Layout>
